


		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Taxi Booking <small>Taxi Management</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
            <li><a href="/"><i class="ion-home"></i></a></li>
						<li><a href="/taxiConsult">Taxi</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<!-- Modals -->
		<div class="modal scale fade" id="defaultModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Taxi</h4>
					</div>
					<div class="modal-body">
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-flat btn-primary">Save changes</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div><!--.modal-->

    <div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>List of taxi</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<!--<script>
							$(document).ready(function(){
								$('input.typeahead').typeahead({
								name: 'typeahead',
								remote: '/getAllCountry',
								limit: 10
								});
							});
						</script>-->

						<ul class="list-material list-taxis">
						</ul>
						<li class="list-taxis-template has-action-left has-action-right has-long-story" style="display:none;">
							<a class="visible" data-toggle="modal" data-target="#defaultModal">
								<div class="list-content">
									<span class="title"></span>
									<span class="serial"></span>
								</div>
							</a>
						</li>
					</div><!--.panel-body-->
				</div><!--.panel-->




<script src="scripts/taxiConsult.js"></script>
